.trans-tab {
  width: 80%;
  margin: 28px auto;
}

.Booked {
  background-color: orange;
}

.Checkin {
  background-color: greenyellow;
}

.Checkout {
  background-color: rgb(198, 184, 227);
}

.status {
  color: darkgreen;
  padding: 4px 6px;
  border: 0.5px solid #201f1f;
  border-radius: 10px;
}

table {
  margin-top: 12px;
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: rgb(56, 150, 184);
  color: aliceblue;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td:nth-child(3) > p {
  display: inline-block;
  padding: 0 5px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid #d6cece;
}

th:first-child,
td:first-child {
  width: 4%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 29%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 15%;
}

th:nth-child(4),
td:nth-child(4) {
  width: 20%;
}

th:nth-child(5),
td:nth-child(5) {
  width: 10%;
}

th:nth-child(6),
td:nth-child(6) {
  width: 15%;
}

th:last-child,
td:last-child {
  width: 7%;
}
